<footer class="footer" style="background-color: #fff; color: black;margin-top: 5vh;">
    <div class="container">
      <div class="row">
        <div class="col">
         <span>Desenvolvido por Rafael Camilo</span> 
        </div>
        <div>
            <a href="https://github.com/Rafael-co/" target="_blank">
                <i class="fab fa-github"></i> GitHub
              </a>
              <a href="https://www.linkedin.com/in/rafael-camilo-developer/" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
              </a>
        </div>
      </div>
    </div>
  </footer>